body{
    font-family: "Lexend Deca", sans-serif;
    background-color: hsl(0, 0%, 95%);
}

.container{
   
    padding:0px 150px 0px 150px;
}

h3{
    font-family: "Big Shoudlers Display";
    text-transform: uppercase;
    font-size: 30px;
    color:white;
    padding:00px 40px 0px 40px
    
}

img{
    padding:40px 0px 0px 40px
}

.t1{
    background-color:hsl(31, 77%, 52%) ;
    border-radius: 20px 20px 00px 00px;
}

#btn1{
    color:hsl(31, 77%, 52%) ;
}

.t2{
    background-color:hsl(184, 100%, 22%) ;
}

#btn2{
    color:hsl(184, 100%, 22%) ;
}

.t3{
    background-color:hsl(179, 100%, 13%);
   border-radius: 0px 00px 20px 20px;
}

#btn3{
    color:hsl(179, 100%, 13%); ;
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1.8;
    padding: 0px 40px 0px 40px;
}


.btn{
    height:40px;
    width:130px;
    border-radius: 30px;
    border: 0px;
    margin:90px 110px 40px 40px;
    cursor: pointer;
    background-color:#fff;
    border: 1px solid #fff;
}

.btn:hover{
    background-color: rgba(255, 255, 255, 0.61);
}


@media (min-width: 992px) {
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      max-width: 900px;
      margin: auto;
    }
    .t1{
        border-radius: 20px 00px 0px 20px;
    }
    .t3{
        border-radius: 0px 20px 20px 0px;
    }
}
 @media (min-width: 1280px){
     .container{
         max-width: 1100px;

     }
 }

